@use 'global';

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100dvh;
}

.header {
  & > .bg-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }
}

